.singleProdCont {
}

.singProdWrapper {
  padding: 10px 50px;
  display: flex;
}

.singProdImgCont {
  flex: 1;
}

.singProdImgCont img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.singProdInfoCont {
  flex: 1;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singProdInfoCont h1 {
  font-weight: 200;
  text-decoration: underline;
}

.singProdDesc {
  margin: 20px 0px;
}

.addCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Evenly space out the buttons */
  margin-top: 15px;
}

.addCont button, .addCont a {
  padding: 15px 20px;
  border: 2px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 500;
  flex-grow: 1; /* Ensure all buttons and links grow equally */
  margin: 0 10px; /* Uniform margin for spacing */
  text-align: center;
  text-decoration: none; /* Remove underline from links */
}

.addCont button:hover, .addCont a:hover {
  background-color: red;
}

.addToCart {
  padding: 15px 20px;
  border: 2px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 500;
  flex-grow: 1; /* Ensure all buttons and links grow equally */
  margin: 0 10px; /* Uniform margin for spacing */
  text-align: center;
  text-decoration: none; 
}

.actionButtons{
  padding: 15px 20px;
  border: 2px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 500;
  flex-grow: 1; /* Ensure all buttons and links grow equally */
  margin: 0 10px; /* Uniform margin for spacing */
  text-align: center;
  text-decoration: none; 

}
/* Remove ID selectors if they are not unique */
.price, .inStock {
  font-weight: 100;
  font-size: 40px; /* Adjust as needed */
  color: red; /* For price */
  margin: 5px 0;
}

.inStock {
  font-weight: 50;
  font-size: 20px;
  color: black; /* For stock */
}