.registerCont {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/8047038/pexels-photo-8047038.jpeg?cs=srgb&dl=pexels-marcela-oliveira-8047038.jpg&fm=jpg")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .registerCard {
    width: 40%;
    padding: 20px;
    background-color: #212a2f;
  }
  
  .registerCard h2 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  
  .registerCard form {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  
  .registerCard input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
  }
  
  .registerAgreement {
    font-size: 12px;
    margin: 20px 0px;
  }
  
  .registerCard button {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .registerCard button:hover {
    animation: alternate;
    transform: scale(1.1);
  }
  